
body {
  margin: 20px;
  font-size: 1.2em;
  font-family: "Century Gothic",Verdana, Arial;
}
body > div{
	margin-bottom: 20px;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #0091ea;
  color: #1a1a1a;
}
a:hover {
  background-color: #bbeffd;
  border-bottom-color: #0091ea;
}

h1{
  margin: 10px 0 40px;
}
h2{
  margin: 12px 0 5px;
  font-size: 1.2em;
}
label{
  color: #0091ea;
  display: block;
}
input, select, button{
  font-size: 1.2em;
  font-family: "Century Gothic",Verdana, Arial;
}

#day{
	width: 60px;
}
#year{
	width: 100px;
}
.name > input{
	width: 100%;
}
.spaced{
	margin: 0 10px;
}

.field{
	margin-bottom: 20px;
}
section {
    background-color: rgb(241, 248, 255);
    margin-bottom: 20px;
    padding: 20px;
    border: 2px solid rgb(200, 225, 255);
    border-radius: 4px;
}

.meaning{
	margin: 10px 0;
}
.calc > div {
  color: #0091ea;
  padding-left: 10px;
  margin: 5px 0;
  border-left: 2px solid rgb(200, 225, 255);
}
.copy{
	margin-top: 400px;
}
.grey{
  color: silver;
}
